div:hover {
    border: 5px solid blueviolet;
}

#cor-primaria {
    background-color: blue;
}
#cor-secundaria {
    background-color: purple;
}

#cor-complementar {
    background-color: #2C8000;
}
#cor-escura {
    background-color: #330033;
}
#cor-clara {
    background-color: lightblue;
}
