body {
    background-color: #fff;
    color: #1c1e21;
    direction:ltr;
    line-height: 1.34;
    margin: 0;
    padding: 5%;
}

.cv .dados-pessoais {
    display: inline-block;
    padding: 30px;
    margin-left: 30%;
}

input {
    margin-left: 20%;
}
.cv {
    background-color: rgb(234, 237, 240);
}